/* ----------------------------------------------------------
/* Footer
/* ---------------------------------------------------------- */

.footer {
  padding: 160px 0 40px;
  text-align: center;
}

.footer__pagetop {
  font-size: 40px;
}

.footer__copyright {
  font-size: 85%;
}
