/* ----------------------------------------------------------
/* Profile
/* ---------------------------------------------------------- */

.profile {
  margin-top: 26px;
  flex: 0 1 700px;
  line-height: 1.5;
  // @include mq-sm {
  //   font-size: 15px;
  // }
}


.profile__headline {
  margin-top: 48px;
  margin-bottom: 0;
  font-size: 22px;
  line-height: 1.4;
  letter-spacing: 0.05em;
  padding-bottom: 8px;
  &::before {
    display: inline-block;
    content: '';
    width: 14px;
    height: 14px;
    background: $accent-color;
    transform: rotate(45deg);
  }
  &.is-border {
    border-bottom: 2px solid $line-color;
  }
}

.profile__customer {
  margin: 16px 0;
}
