/* ----------------------------------------------------------
/* text
/* ---------------------------------------------------------- */

// text-align
.text__center {
  text-align: center;
}

.text__left {
  text-align: left;
}

.text__right {
  text-align: right;
}

// font-weight
.text__bold {
  font-weight: bold;
}

// font-size
.text__small {
  font-size: 90%;
}

.text__xsmall {
  font-size: 80%;
}
